:root{
    font-family:arial;
    background: #f0f2f5;
}


.container{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    width:300px;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#infoBanner{
    align-self: center;
}
#registerBanner{
    margin-left: 10%;
}

#login_button{
    background-color:rgb(56, 175, 248);
    font-size: 20px;
    font-weight: bold;
    color:white
}
#login_button:hover{
    background-color: rgb(27, 99, 167);

}

.errorlist {
    list-style: none;
    color:red;
}

h1 {
    size:50px;
    text-align: center;
}

input{
    margin:10px;
    padding:10px;
    outline-width: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background-color: rgba(204, 203, 203, 0.657);
}

input:focus{
    background-color: rgba(158, 154, 154, 0.657);
}
    