{% extends 'login/base.html' %}

{% block body %}
    
    <div class="container">
        <h1 id="Title">Registrarse</h1>
        <form action="" method="POST">
            {% csrf_token %}
             {% for field in form %}
                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
            {% endfor %}
            {{ form.errors  }}
            <input type='submit' value='Registrarse' id='login_button'>
        </form>
         <h5 id="registerBanner">Ya tienes cuenta? <a  href={% url 'login:login' %}>Inicia Sesion</a></h5>
    </div>

{% endblock body %}